.container{
  background-image: url(http://awesomwallpaper.com/img1/1D04F26F5650/black-world-map.jpg);
}
.imageContainer{
  border-radius: 16px;
  border-style: solid;
  border-width: 4px 6px 4px 8px;
  border-color: #bbb;
}
.pics {
  height: 360px;
  width: 280px;
  border: 1px;
  border-color: #333;
  }
  .description{
    color: #adf;
    background-color: #424242;
    text-align: center;
    font-family: 'Syncopate', sans-serif;
    margin-top: 50%;
    margin-bottom: 50%;
    border-radius: 26px;
    border-style: dashed;
    border-width: 4px 6px 4px 4px;
    border-color: #bbb;
  }
.extras {
  background-color: #424242;
  color: #adf;
  border-radius: 26px;
  font-family: 'Unica One', cursive;
  border-style: solid;
  border-width: 2px;
  border-color: #bbb;
}
h1 {
    color: #abc;
    font-family: 'Megrim', cursive;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    text-shadow: 6px 0px 14px #00fff2;
}
